.header {
  background: #232536;
  padding: 12px 0;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        a {
          color: #fff;
          text-decoration: none;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          text-align: left;
        }
        button {
          padding: 16px 48px;
          background: #fff;
          font-family: Inter;
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          color: #232536;
          border: none;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background: #e4e4e4;
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
.hero {
  background: url(../assets/images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 128px 0;
  .hero__contenet {
    max-width: 800px;
    h3 {
      //styleName: Cap 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-align: left;
      color: #fff;
    }
    h2 {
      //styleName: Display;
      font-family: Inter;
      font-size: 56px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      text-align: left;
      margin-top: 24px;
      color: #fff;
    }
    p {
      //styleName: Body 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #fff;
      margin-top: 20px;
      span {
        color: #ffd050;
      }
    }
    button {
      padding: 16px 48px;
      background: #ffd050;
      color: #232536;
      border: none;
      font-family: Inter;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      margin-top: 48px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: #f1ce6f;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.footer {
  padding: 54px 0;
  background: #232536;
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bdbec3;
    p {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 25px;
      svg {
        color: #bdbec3;
        font-size: 16px;
      }
    }
  }
}

.product__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif;
  row-gap: 30px;
  column-gap: 20px;
  place-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  .product {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    padding: 10px;
    .product__img {
      position: relative;
      width: 100%;
      .cart {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #fff;
        color: #000;
        width: 22px;
        height: 22px;
        border: none;
        font-size: 13px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        // transform: scale(0);
        transition: 0.3s;
        svg {
          font-size: 16px;
        }
      }
      .heart {
        position: absolute;
        top: 10px;
        right: 50px;
        background: #fff;
        color: red;
        width: 22px;
        height: 22px;
        border: none;
        font-size: 13px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        // transform: scale(0);
        transition: 0.3s;
        svg {
          font-size: 16px;
        }
      }
      .top {
        position: absolute;
        top: 10px;
        left: 10px;
        background: #fe2722;
        color: #fff;
        padding: 4px 10px;
        font-size: 13px;
        border-radius: 10px;
      }
      .img {
        height: 300px;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
      .product__img-1 {
        display: block;
      }
      .product__img-2 {
        display: none;
      }
      &:hover {
        .product__img-1 {
          display: none;
        }
        .product__img-2 {
          display: block;
        }
      }
    }
    .product__desc {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      height: 38px;
      max-height: 40px;
      overflow: hidden;
      vertical-align: middle;
      white-space: break-spaces;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    .product__rating {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 8px 0;
      .star {
        color: #cc290a;
      }
      span {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
      }
    }
    .product__price {
      display: inline-block;
      font-size: 21px;
      font-weight: 700;
      height: 28px;
      line-height: 28px;
    }
    &:hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.category__title {
  //styleName: Heading H2;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  color: #232536;
}

.category__wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 50px auto;
  .category__item {
    width: 100%;
    padding: 32px;
    border: 1px solid #d3d3d6;
    transition: 0.3s;
    .category__img {
      padding: 12px;
      box-sizing: content-box;
      border-radius: 6px;
      background: #fff;
    }
    h4 {
      //styleName: Heading H3;
      font-family: Inter;
      font-size: 28px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      text-align: left;
      margin: 15px 0 5px;
    }
    p {
      //styleName: Body 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
    }
    &:hover {
      background: #ffd050;
      border: 1px solid #ffd050;
    }
  }
}

.about__hero {
  padding: 80px;
  background: #f4f0f8;
  margin: 50px 0;
  display: flex;
  gap: 50px;
  .col {
    h4 {
      //styleName: Cap 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-align: left;
    }
    h2 {
      //styleName: Heading H3;
      font-family: Inter;
      font-size: 28px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      text-align: left;
      margin: 24px 0 16px;
    }
    p {
      //styleName: Body 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #6d6e76;
    }
  }
}

.team {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 70px;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      max-width: 520px;
      h3 {
        //styleName: Heading H2;
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        text-align: left;
        color: #232536;
      }
      h4 {
        //styleName: Heading H4;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #232536;
        margin: 16px 0;
      }
      p {
        //styleName: Body 1;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #6d6e76;
      }
    }
  }
  .row-firts {
    display: flex;
    flex-direction: row-reverse;
  }
}

.account__form {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  gap: 22px;
  margin: 80px auto;
  input {
    //styleName: Body 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding: 24px;
    outline: none;
    border: 1px solid #b6b7ba;
    color: #232536;
    border-radius: 2px;
    ::placeholder {
      //styleName: Body 1;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #232536;
    }
  }
  button {
    padding: 16px;
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    background: #ffd050;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: #ffde82;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

.account__title {
  //styleName: Heading H1;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: center;
  margin-top: 60px;
}

.business {
  .business__hero {
    text-align: center;
    padding: 80px;
    background: #f4f0f8;
    .business__hero__item {
      h1 {
        //styleName: Display;
        font-family: Sen;
        font-size: 56px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
        text-align: center;
        color: #232536;
      }
      p {
        //styleName: Body 1;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        max-width: 515px;
        color: #6d6e76;
        margin: 16px auto 32px;
      }
      h3 {
        //styleName: Cap 03;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 3px;
        text-align: center;
        color: #232536;
      }
    }
  }
  input {
    width: 100%;
    padding: 24px;
    margin: 57px 0;
    outline: none;
    border: 1px solid #b6b7ba;
    border-radius: 4px; //styleName: Body 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #232536;
  }
  .business__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 100px;
    .business__item {
      display: flex;
      gap: 50px;
      .item__text {
        h3 {
          //styleName: Cap 1;
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 3px;
          text-align: left;
          color: purple;
        }
        h2 {
          //styleName: Heading H2;
          font-family: Inter;
          font-size: 36px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: -2px;
          text-align: left;
          color: #232536;
          margin: 20px 0 64px;
        }
        p {
          //styleName: Body 1;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          text-align: left;
          color: #6d6e76;
        }
      }
    }
  }
}
